@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;900&display=swap');

$text_primary: #5C6A79;
$text_active: #1C2A39;
$button: #4C3DB2;
$bg_primary: #FFF;

@mixin font_mserrat {
  font-family: Montserrat, sans-serif;
}
@mixin font_opensans {
  font-family: "Open Sans", sans-serif;
}
@mixin del_indents {
  margin: 0;
  padding: 0;
}
@mixin anchor_clean($color) {
  list-style-type: none;
  text-decoration: none;
  &:visited, &:hover, &focus {
    color: $color;
  }
}